<section>
    <div class="body">
        <div>
            <div class="information">
                <div class="col">
                    <h2 id="player1Name">Player 1</h2>
                    <h2 id="player1Symbol">X</h2>
                </div>
                <div class="col">
                    <h2 id="player2Name">PC</h2>
                    <h2 id="player2Symbol">O</h2>
                </div>
            </div>

            <div class="settings">
                <div class="btn-group">
                    <button id="playerModeBtn" class="button active" (click)="playerModeSelected()">
                        <img id="playerModeImg" class="btn-img" src="assets/single-player.svg" height="80px"
                            alt="Single Player" />
                    </button>
                    <button id="startBtn" class="btn-start" (click)="startClicked()">
                        <img id="startImg" class="btn-img" src="assets/play.svg" height="80px" alt="Start" />
                    </button>
                    <button (click)="switchClicked()">
                        <img class="btn-img" src="assets/switch-sides.svg" alt="Switch Sides" />
                    </button>
                </div>
                <div class="field-group">
                    <input id="player1NameField" class="name-field" placeholder="Insert name of Player 1"
                        (input)="player1NameChanged($event)">
                    <input *ngIf="isVisible" id="player2NameField" class="name-field"
                        placeholder="Insert name of Player 2" (input)="player2NameChanged($event)">
                </div>
            </div>
        </div>
        <div class="board">
            <div class="row">
                <div id="0" class="cell cell-top-left"></div>
                <div id="1" class="cell cell-top-center"></div>
                <div id="2" class="cell cell-top-right"></div>
            </div>
            <div class="row">
                <div id="3" class="cell cell-mid-left"></div>
                <div id="4" class="cell cell-mid-center"></div>
                <div id="5" class="cell cell-mid-right"></div>
            </div>
            <div class="row">
                <div id="6" class="cell cell-bottom-left"></div>
                <div id="7" class="cell cell-bottom-center"></div>
                <div id="8" class="cell cell-bottom-right"></div>
            </div>
        </div>

    </div>
    <div class="status">
        <p id="status">Click Start to Play</p>
    </div>
</section>