/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --canvas-color: #ffffff;
    --background-color: #C3C75C;
    --top-bar-color: #e6e6fa;
    --primary-color: #605DC8;
    --secondary-color: #8B89E6;
    --accent-color: #9a9aa1;
    --shadow-color: rgba(0, 0, 0, 0.35);
    --text-color: #000000;

    --container-color: #ffffff;
    --container-a-color: #333;
}

[data-theme="dark"] {
    --canvas-color: #000000;
    --background-color: #E1E2AB;
    --top-bar-color: #111156;
    --primary-color: #AFADE3;
    --secondary-color: #8B89E6;
    --accent-color: #e8e7fa;
    --text-color: #ffffff;

    --container-color: #272727;
    --container-a-color: #c4c4c4;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

section {
    flex-grow: 1;
}

body {
    background-color: var(--background-color);
    background: linear-gradient(to right, var(--canvas-color), var(--background-color));
    height: fit-content;
    color: var(--text-color);
}

@media (max-width: 425px) {
    body {
        background-color: var(--background-color);
        background: linear-gradient(to bottom, var(--canvas-color), var(--background-color));
        color: var(--text-color);
    }
}